# oai

> OpenAI utils

In [ ]:
#| default_exp oai

In [ ]:
#|export
from datetime import datetime
import inspect
import pandas as pd
from fastcore.script import call_parse

In [ ]:
#| export
def _to_dt(dt:int):
    return datetime.fromtimestamp(dt).strftime('%Y-%m-%d')

@call_parse
def list_models(owned:str='' # Filter by who models are owned by
               ):
    "List OpenAI models you have access to."
    from openai import OpenAI
    client = OpenAI()
    models = list(client.models.list())
    models.sort(key=lambda m: -m.created)
    models = [{'Name': m.id, 'Created Dt': _to_dt(m.created)} for m in models if not owned or owned in m.owned_by]
    df = pd.DataFrame(models)
    stack_depth = len(inspect.stack())
    if stack_depth > 3: return df
    else: return df.to_markdown(index=False)

In [ ]:
df = list_models()
df

                   Name  Created Dt
0         tts-1-hd-1106  2023-11-03
1            tts-1-1106  2023-11-03
2              tts-1-hd  2023-11-03
3    gpt-3.5-turbo-1106  2023-11-02
4    gpt-4-1106-preview  2023-11-02
..                  ...         ...
109        text-ada-001  2022-04-07
110               curie  2022-04-07
111             davinci  2022-04-07
112             babbage  2022-04-07
113                 ada  2022-04-07

[114 rows x 2 columns]